body{
    background-image:
}

h1{
margin:60px 0px 0px 0px;
}

img {
    padding:0px 0px;
  width:100%;
  height:auto;
}

.pic {
        margin:0px;
        float:left;
        position:relative;
}

.pt1  {
        background:img/photo4.jpg no-repeat;
        width:130px;
        height:40px;
        position:absolute;
        z-index:100;
        font-size: 2em;
        top:100px;
        left:80px;
}

.pt2 {
        background:img/photo4.jpg no-repeat;
        width:130px;
        height:40px;
        position:absolute;
        font-size: 2em;
        z-index:100;
        top:180px;
        left:80px;
}
