body {
  background-color: #ddd;
}

.profile {
    font-weight: bold;
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",
               "Hiragino Kaku Gothic Pro", sans-serif;
}

.copyright {
  padding: 20px 0;
  font-size: 12px;
  color: #444;
}
